{% extends "layout.html" %}

{% block title %}{{ data.name }} {% endblock %}

{% block content %}
<div class="container" style="width:100%;">

  {% include 'navbar.html' %}

  <div class="row">
    <div class="col-md-8">
      <img src="/static/temp.jpg" class="img-responsive center-block" alt="">
    </div>
    <div class="col-md-2">
      <h2>{{data.name}}</h2>
      {% include 'table.html' %}
      {% include 'checkbox.html' %}
    </div>
  </div>
  <br>

  {% for model, preds in all_boxes.items() %}

    <div class="row">
      <div class="col-md-8">
        <img src="/static/temp_{{ model }}.jpg" class="img-responsive center-block" alt="">
      </div>
      <div class="col-md-3">
        <h2>{{ model }}</h2>
        <a class="btn btn-primary" data-toggle="collapse" href="#collapseExample_{{ model }}" role="button" aria-expanded="false" aria-controls="collapseExample_{{ model }}"></a>
          Show preds
        </a>
        <div class="collapse" id="collapseExample_{{ model }}">
          {% include 'bbox_list.html' %}
        </div>
      </div>
    </div>
    <br>

  {% endfor %}
  
</div>

{% endblock %}
