<script>
  document.body.onkeydown = function(e) {
    switch (e.keyCode) {
      case 37: // left
        window.location.replace("/{{pager.prev}}")
        e.preventDefault(); 
        break;
      case 39: // right
        window.location.replace("/{{pager.next}}")
        e.preventDefault(); 
        break;
    }
  };
</script>

<nav class="navbar">
    <div class="navbar-header">
      
    <span class="navbar-brand">{{ config.APPNAME }}</span>
    </div>
    <form class="navbar-form navbar-left" role="search" name="goto" action="/goto" method="POST">
      <div class="form-group">
        <input type="text" name="index" class="form-control" placeholder="Go to index">
      </div>
      <button type="Go" class="btn btn-default">Go</button>
    </form>
    <ul class="nav navbar-nav">
      <li><a href="/">home</a></li>
      <li><a href="/{{pager.prev}}">&larr;</a> </li>
      <li><a href="/{{pager.next}}">&rarr;</a> </li>
      {% include 'links.html' %}
      <li>{{ pager.current + 1 }} of {{ pager.count }}</li>
    </ul>
</nav>