{% extends "layout.html" %}

{% block title %}{{ data.name }} {% endblock %}

{% block content %}
<div class="container" style="width:100%;">

  {% include 'navbar.html' %}

  <div class="row">
    <div class="col-md-6">
      <img src="{{ url_for('static', filename='temp.png') }}" class="img-responsive center-block" alt="">
    </div>
    <div class="col-md-6">
      <h2>{{data.name}}</h2>
      {% include 'table.html' %}
    </div>
    {% include 'checkbox.html' %}
  </div>

</div>

{% endblock %}
